@media screen and (min-width: 1200px) {
  .container,
  .header-container,
  .footer-column {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.footer-container {
  column-gap: 0;
  row-gap: 0;
}

.section {
  padding: 120px 0;
}

/* ---------------Header------------- */

.header {
  /* - padding-bottom: 0px;-- */
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    display: flex;
    gap: 40px;
  }
  .logo {
  }
  .address-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .address-item > a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .current::after {
    bottom: -23px;
  }
  .address-tell {
    margin-left: 40px;
  }
  .logo {
  }
}
/*------------Hero------------------*/
.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero {
  background-image: var(--rgba), url(../images/hero-bg-desktop.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--rgba), url(../images/hero-bg-desktop-2x.jpg);
  }
}
.hero-title {
  margin-bottom: 0px;
}
.hero-button {
  margin-top: 48px;
}
/* ------------Directions--------*/
@media screen and (min-width: 1200px) {
  .directions {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .directions-item {
    width: 100%;
  }
  .directions-list-list {
    flex-wrap: nowrap;
  }

  .directions-link {
    display: flex;
    background-color: var(--background-button);
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .directions-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* --margin-bottom: 8px;-- */
  }

  .directions-item-text {
    font-weight: 400;
  }
  .directions-item {
    width: calc((100% - 72px) / 4);
  }
}
/*-----------Doing------------- */
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-list-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .doing-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /* ------------Team--------*/
  @media screen and (min-width: 1200px) {
    .team {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .team-list {
      justify-content: center;
      gap: 24px;
      flex-direction: row;
      align-items: center;
    }
    .main-team-item {
      width: calc((100% - 72px) / 4);
      background: #ffffff;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
  }
  /*-----Customers section-----*/
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  /* ------------Footer--------*/
  .footer-container1 {
    padding-right: 120px;
  }

  .footer-subscription-field {
    margin-left: auto;
  }
  .footer-subscription-form {
    gap: 24px;
  }
}
