@media screen and (min-width: 1200px) {
  .container,
  .customers,
  .footer-column,
  .container-mini {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.header-container {
  max-width: 1158px;
}

.footer-container {
  column-gap: 0;
  row-gap: 0;
}

.section {
  padding: 120px 0;
}

/* ---------------Header------------- */

.header {
  padding-bottom: 24px;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-item > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.current::after {
  bottom: -28px;
}
/*-----------Doing------------- */
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
  .doing {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .doing-list-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .doing-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /* ------------Directions--------*/
  .directions-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .directions-list-list {
    flex-wrap: nowrap;
  }
  .directions-link {
    display: block;
    background-color: var(--advantage-icons-bg-color);
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .directions-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .directions-item-text {
    font-weight: 400;
  }
  /* ------------Team--------*/
  .team-list {
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    align-items: center;
  }
  .main-team-item {
    width: calc((100% - 96px) / 4);
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /*-----Customers section-----*/
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  /* ------------Footer--------*/
  .footer-container1 {
    margin-right: 120px;
  }

  .footer-subscription-field {
    margin-left: auto;
  }
}
