@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-sm {
    max-width: 294px;
  }
  .main-team-item {
    max-width: 264px;
  }
}
/*------Header-------*/
@media screen and (min-width: 320px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
/*-------------Hero---------------*/
.hero {
  background-image: var(--rgba), url(../images/hero-bg-mob.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--rgba), url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  max-width: 320px;
  text-align: center;
}
.hero-content {
  max-width: 100%;
}

/* ------------Mobile menu--------*/

.mob-menu {
  padding: 40px;
}
.navigation-mob-link {
  font-size: 36px;
}
.navigation-mob-item {
}
.address-mob-tell {
  font-size: 24px;
}
.address-mob-item:not(:last-child) {
}
.address-mob-list {
}
.mob-soc-list {
  gap: 30px;
}

/* ------------Directions--------*/
@media screen and (min-width: 480px) {
  .directions-subtitle {
    font-size: 36px;
  }
  .directions-item-text {
    font-size: 16px;
    text-align: left;
  }
}
/* ------------Team--------*/
@media screen and (min-width: 480px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/*-----Customers section-----*/
.customers-link {
}

/* ------------Footer--------*/

.footer-column {
  flex-direction: column;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}
.footer-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container1 {
  text-align: left;
}

.signup-input {
  min-width: 264px;
}

.signup-button {
  align-items: center;
}
.footer-social {
  align-items: center;
}
.footer-team-soc-list {
  align-items: center;
}
.footer-subscription-form,
.footer-social-media {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-subscription-title {
  text-align: center;
}
/* --------Modal------- */
.modal {
  max-width: 428px;
}
