@media screen and (min-width: 480px) {
  .container,
  .customers,
  .footer-column {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-sm {
    max-width: 294px;
  }
  .main-team-item {
    max-width: 264px;
    margin-bottom: 72px;
  }
}
/* ------------Mobile menu--------*/

/* -------------Hero----------- */
.hero {
  background-image: var(--rgba), url(../images/people-office.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--rgba), url(../images/people-office-2x.jpg);
  }
  .hero-title {
    font-size: 36px;
    max-width: 350px;
  }
}
/* ------------Directions--------*/
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .directions-subtitle {
    font-size: 36px;
  }
  .directions-item-text {
    font-size: 16px;
    text-align: left;
  }
  .directions-subtitle {
    font-size: 36px;
    text-align: center;
  }
  .directions-icon {
  }
  /* ------------Doing--------*/
  /* ------------Team--------*/

  .container-mini.container-sm {
    padding-left: 82px;
    padding-right: 82px;
  }

  /* ------------Footer--------*/

  .footer-column {
    flex-direction: column;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
  }
  .footer-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container1 {
    text-align: left;
  }
  .signup-input {
    min-width: 398px;
  }
  .signup-button {
    align-items: center;
  }
  .footer-social {
    align-items: center;
  }
  .footer-team-soc-list {
    align-items: center;
  }
  .footer-subscription-form,
  .footer-social-media {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-subscription-title {
    text-align: center;
  }
}
/* ------------Team---------- */
/* ------------Mob menu-------------- */
