@media screen and (min-width: 768px) {
  .container,
  .header-container {
    max-width: 766px;
  }

  .container-mini,
  .customers,
  .footer-column {
  }
  .customers,
  .footer-column {
    padding: 0;
  }
  /* ------------Directions--------*/
  .directions-list-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .directions-item {
    width: calc((100% - 48px) / 2);
  }

  .directions-subtitle {
    text-align: left;
  }

  /* --------------Header------------- */
  /* ------------Doing--------*/
  /* ------------Team--------*/
  .container-mini.container-sm {
    padding-left: 28px;
    padding-right: 28px;
  }
  .team-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 32px;
  }
  .main-team-item {
    width: calc((100% - 48px) / 2);
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* ------------Custumers------------*/
  .container.container-desktop-mini {
    padding-left: 108px;
    padding-right: 108px;
  }
  .customers-link {
    padding: 16px 32px;
  }
  .customers-list {
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /* ------------Footer--------*/
  .footer-container1 {
    align-items: start;
  }
  .footer-social {
    align-items: start;
  }
  .footer-subscription-field {
    justify-content: start;
  }

  .footer-subscription-form {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
  }
  .signup-input {
    min-width: 264px;
  }
  .footer-subscription-title {
    text-align: left;
  }
  .footer-column {
    column-gap: 16px;
    row-gap: 72px;
    align-items: start;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
