@media screen and (min-width: 768px) {
  .container,
  .header-container {
    max-width: 766px;
  }

  .container-mini,
  .customers,
  .footer-column {
    max-width: 565px;
  }

  .customers,
  .footer-column {
    padding: 0;
  }

  /* -.filter-container {
    max-width: none;
  }-*/

  /* ------------Directions--------*/
  .directions-list-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .directions-item {
    width: calc((100% - 24px) / 2);
  }

  .directions-subtitle {
    text-align: left;
  }

  /* --------------Header------------- */
  /* ------------Doing--------*/
  .doing {
    display: none;
    display: block;
  }
  /* ------------Custumers------------- */
  .custumers-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* ------------Footer--------*/
  .footer-container1 {
    align-items: start;
  }
  .footer-social {
    align-items: start;
  }
  .footer-subscription-field {
    justify-content: start;
  }

  .footer-subscription-form {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
  }
  .signup-input {
    min-width: 264px;
  }
  .footer-subscription-title {
    text-align: left;
  }
  .footer-column {
    column-gap: 16px;
    row-gap: 72px;
    align-items: start;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
